@model ParkyWeb.Models.User

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "LogIn";
}

<h1>Login</h1>

<form method="post">


    <input asp-for="Username" type="text" placeholder="Username..."/>
    <input asp-for="Password" type="text" placeholder="Password..." />


    <button type="submit" value="Submit">LogIn</button>
</form>